<!DOCTYPE html>
<html>
  <head>
    <title>Place Searches</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <div id="log"></div>
    <script>
      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      var map;
      var infowindow;
              // var log = document.getElementById('log');
      // var sock=new WebSocket("ws://localhost:5001");
      // var log = document.getElementById('log');
      // var obj;
      // sock.onmessage=function(event){
      // //console.log(event);
      // obj=JSON.parse(event.data);
       // log.innerHTML+=obj.topic+"<br>";
       // log.innerHTML+="hello"+"<br>";
      // console.log(event);
    // <!-- }  -->
    
    // var sock=new WebSocket("ws://localhost:5001");
    //     var log = document.getElementById('log');
    // function msg()
    // {var obj;
    //     sock.onmessage=function(event){
    //   //console.log(event);
    //   obj=JSON.parse(event.data);
    //   log.innerHTML+=obj.lat+" , "+obj.lng+"<br>";
      
    //   console.log(obj);
    //  console.log(pyrmont);
    //return obj;}
    //}
      function initMap() {
        var pyrmont = {lat:12.82082 , lng: 80.038229};
         var obj;
        var sock=new WebSocket("ws://localhost:5001");
        var log = document.getElementById('log');
        
      //  var loc=msg();

    sock.onmessage=function(event){
      //console.log(event);
      // try{


      obj=JSON.parse(event.data);
      log.innerHTML+=obj.lat+" , "+obj.lng+"<br>";
      
      console.log(obj);
     console.log(pyrmont);
    
    // }
    // catch(err){
     // console.log(err);
    //}}
      }
      // log.innerHTML+="hello"+"<br>";
     // console.log(loc);

      // console.log(loc);
    
        map = new google.maps.Map(document.getElementById('map'), {
          center: obj,
          zoom: 15
        });

        infowindow = new google.maps.InfoWindow();
        var service = new google.maps.places.PlacesService(map);
        service.nearbySearch({
          location: obj,
          radius: 10000,
          type: ['hospital']
        }, callback);
      }

      function callback(results, status) {
        if (status === google.maps.places.PlacesServiceStatus.OK) {
          for (var i = 0; i < results.length; i++) {
            createMarker(results[i]);
          }
        }
      }

      function createMarker(place) {
        var placeLoc = place.geometry.location;
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(place.name);
          infowindow.open(map, this);
        });
      }
    </script>
  </head>
  <body>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPYaejVtdU70W5Ei4GSVW1-KQnA2fM6eQ&libraries=places&callback=initMap"></script>
  </body>
</html> 